$primary: #fdc05d;
$dark: #2e3935;
$medium: #3d524b;
$light: #ccdad1;

// RESET

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Muli", sans-serif;
   background: $light;
   color: $dark;
}

html {
   scroll-behavior: smooth;
}
a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style: none;
}

// CONSTANTS

#section-title {
   text-align: center;
   padding: 2rem;
   z-index: 3;
}

.bottom-line {
   width: 50px;
   height: 3px;
   background: $primary;
   margin: 0 auto;
}

.lead {
   text-align: center;
   font-size: 1.2rem;
   margin-top: 1.5rem;
}

.captcha {
   margin: 2rem auto;
}
// For the header
header {
   // background: url(https://source.unsplash.com/jbQvJx2EWnU);
   background: url(./img/caleb-woods-R2lCJwGyqPQ-unsplash.jpg) no-repeat center
      center/cover;
   height: 100vh;
   color: $light;
   position: relative;
   z-index: 1;
}

// Header overlay
header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(82, 121, 111, 0.2);
   height: 100vh;
   width: 100%;
   z-index: -1;
}

// For the navbar
#navbar {
   position: fixed;
   color: $light;
   width: 100%;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgba(46, 57, 53, 0.5);
   padding: 1rem;
   z-index: 1;

   .logo {
      color: $primary;
   }
   ul {
      display: flex;
      li {
         margin-left: 1.5rem;

         a {
            padding-bottom: 0.5rem;
            transition: all 0.5s;

            &:hover {
               color: $primary;
               font-weight: bold;
            }
         }
      }
   }
}

#welcome-section {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   top: 10%;
   left: 0;
   height: 100%;
   width: 100%;
   h1,
   h3 {
      font-weight: 200;
      font-size: 2rem;
      #name {
         color: $primary;
      }
   }
   .txt-type {
      text-align: center;
      font-family: "Roboto Mono", sans-serif;
   }
}

// FOR MY PROJECTS
#projects {
   width: 100%;

   .container-flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 90%;
      margin: 1rem auto;

      .project-tile {
         position: relative;
         width: 32%;
         max-width: 320px;
         max-height: 250px;
         margin: 1rem;
         overflow: hidden;
         box-shadow: 0 0 10px $medium;

         img {
            width: 100%;
            height: 100%;
            display: block;
            transition: all 0.5s;
            object-fit: cover;
         }

         .tile-overlay {
            position: absolute;
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            transition: all 0.5s ease-in-out;
            opacity: 0;
         }

         .tile-details {
            position: absolute;
            text-align: center;
            font-weight: light;
            color: $light;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.2s ease-in 0.3s;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
         }

         &:hover .tile-overlay {
            opacity: 1;
            top: 0;
            height: 100%;
            // cursor: pointer;
         }

         &:hover .tile-details {
            top: 50%;
            left: 50%;
            opacity: 1;
         }
      }
   }
}

// ABOUT ME SECTION
#about {
   background: $medium;
   color: $light;

   .container-grid {
      max-width: 1200px;
      padding: 2rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 30% 70%;
      gap: 2%;

      .image-container {
         background-image: url(./img/AboutMe.JPG);
         background-size: cover;
         background-position: 100%;
         background-repeat: no-repeat;
         width: 100%;
         border: 2px solid $primary;
      }

      .info {
         width: 100%;
         border-left: 2px solid $primary;
         padding: 1rem;
         text-align: justify;

         h3 {
            padding-bottom: 1rem;
         }
      }
   }
}

// FOR THE WORKFLOW
#work-flow {
   background: $light;

   .container-grid {
      max-width: 1200px;
      margin: 2rem auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      gap: 1rem;

      .work-flow-tile {
         // background: rgba(46, 57, 53, 0.5);
         text-align: center;
         padding: 1rem;
         border-radius: 20px;
         box-shadow: 0 0 5px $medium, 0 0 5px $medium;

         h3 {
            padding: 1rem 0;
         }
      }
   }
}

// FOR THE CONTACT SECTION
#contact {
   background: $medium;
   color: $light;

   p {
      padding-bottom: 1rem;
   }
   .container-grid {
      max-width: 1000px;
      margin: 0 auto;
      display: grid;
      grid-template-areas:
         "name email"
         "number subject"
         "message message"
         "submit submit";
      font-size: 1rem;
      gap: 1rem;

      input,
      #subject {
         border-radius: 5px;
         border: 2px solid $medium;
         padding: 5px 10px;
      }

      #name {
         grid-area: name;
      }

      #email {
         grid-area: email;
      }

      #number {
         grid-area: number;
      }

      #subject {
         grid-area: subject;
      }

      #message {
         grid-area: message;
         height: 150px;
         resize: none;
         border-radius: 5px;
         font-size: 1rem;
         overflow: auto;
         font-family: "Muli", sans-serif;
         padding: 5px 10px;
      }

      #submit {
         grid-area: submit;
         border: 1px solid $medium;
         border-radius: 5px;
         background: $primary;
         cursor: pointer;
         color: $dark;
         padding: 0.5rem 0;
         width: 50%;
         margin: 0 auto;
      }
   }
}

// FOR THE FOOTER
footer {
   background: $dark;
   color: $light;

   .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      .social {
         display: flex;

         a {
            padding: 0 1rem;
            transition: color 0.5s;

            i {
               font-size: 1.5rem;
            }

            &:hover {
               color: $primary;
            }
         }
      }
   }
}

@import "media";
